
/* Fonts
=========================================== */

@font-face {
    font-family: 'Minion Pro Bold';
    src: url('../fonts/minion-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro Semibold Italic';
    src: url('../fonts/minion-semibold-italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro Medium Italic';
    src: url('../fonts/Minion-Pro-Medium-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro Regular';
    src: url('../fonts/minion-pro.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Academy KZ Regular';
    src: url('../fonts/Academy.kz.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}











