

/* -- Body Default -- */

body {
	font-family: 'Raleway Regular', sans-serif;
	font-size: 14px;
	line-height: 1.75;
	opacity:1;
	overflow-x:hidden;
}

section{
	position:relative;
	min-height:100px;
}

a{
    color: #333;
}

h2,
h3,
h4,
h5,
h6{
	font-weight: 400;
	margin:0;
	line-height:1.45;
}

h1{
	font-family: 'Academy KZ Regular';
    font-size:60pt;
	color:#fff;
	font-weight: 400;
	margin:0;
	line-height:1.45;
}
h2{
	font-family:'Minion Pro Semibold Italic';
    font-size: 48px;
	color:#333;
	font-style:italic;
	
}
h3{
    font-size: 32px;
	color:#333;
}


p{
	font-family: 'Raleway Regular', sans-serif;
	font-size:18px;
	line-height:1.67;
	color:#333;
}

.hidden{
    display: none;
}

nav ul{
	margin: 0;
	padding: 0;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}

/* ======= Colors ========= */

.color-primari{
	color:#971418;
}

.bg-primari{
	background-color:#971418;
}

.bg-white{
	background-color:#fff;
}

.bg-black{
	background-color:#000;
}

.bg-grey{
	background-color:#F2F2F2;
}

.bg-medium-gray{
	background-color:#BBBAB8;
}

.bg-dark-gray{
	background-color:#282828;
}

.btn-fon{
	background-color:#C29955;
}

/* ======= Positioning ========= */

.col--50{
	width:50%;
	float:left;
	padding:0 15px;
}

.col--30{
	width:30%;
	float:left;
}

.col--70{
	width:70%;
	float:left;
}

.float{
	float:left;
}

.row-center{
	text-align:center;
}

.row-left{
	text-align:left;
}

.row-right{
	text-align:right;
}

.bg--cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
