
/* ========== Header ========== */

.head-wrapper{
	width:100%;
	margin:0 auto;
	padding:0 15px;
}

.top-line{
	height:60px;
}

.top-line h2{
	line-height:60px;
}

.top-title{
	font-family: 'Minion Pro Bold';
	font-size:24px;
	font-weight:600;
	font-style:normal;
}

.head-title{
	background-color:#74342d;
	min-height:690px;
}

.head-title .logo-wrap{
	padding-top:90px;
	padding-bottom:5px;
}

.logotype{
	width:380px;
	height:auto;
}

.logo{
	padding-top:8px;
}

.section-title{
	padding-top:80px;
	padding-bottom:0px;
}

.scrollDown {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    z-index: 99;
    display: block;
}

.scrollDown p {
    position: relative;
}

.scrollDown span {
    content: '';
    width: 4px;
    height: 180px;
    background-color: #C29955;
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    -webkit-animation: ani-liine 2s ease-in;
    animation: ani-line 2s ease-in;
}

/* ------- Media Header -------- */



@media all and (max-width: 992px) {
	h1{
		font-size:48pt;
	}
	
	.head-title .logo-wrap {
		padding-top: 80px;
	}
	.head-title{
		min-height:620px;
		width:100%;
		margin:0 auto;
	}
	.scrollDown span {
		height: 130px;
		top: -20px;
	}
	.logotype{
		width:340px;
		height:auto;
	}
}



@media all and (max-width: 768px) {
	h1{font-size:48px;}
	
	.top-line{
		height:42pt;
	}
	
	.top-line h2 {
		line-height: 50px;
	}
	
	.head-title .logo-wrap {
		padding-top: 70px;
	}
	
	.logo{
		padding-top:20px;
	}
	.logotype{
		width:300px;
		height:auto;
	}
	.head-title{
		min-height:550px;
	}
	.head-title .logo-wrap {
		padding-top: 60px;
		padding-bottom:20px;
	}
	.scrollDown span {
		height: 140px;
		top: -10px;;
	}
	.top-title {
		font-size:20px;
	}
}

@media all and (max-width: 600px) {
	h1{font-size:33pt;}
	
	.logotype{
		width:220px;
		height:auto;
	}
	.head-title{
		min-height:480px;
		
		margin:0 auto;
	}
	.head-title .logo-wrap {
		padding-top: 60px;
	}
	
	.scrollDown span {
		height: 130px;
		top: -30px;
	}
	
}

@media all and (max-width: 480px) {
	h1{font-size:25pt;}
	
	.top-line{
		height:45px;
	}
	
	.top-line h2 {
		line-height: 45px;
	}
	
	.head-title .logo-wrap{
		padding-top:80px;
		padding-bottom:0;
	}
	
	.logotype{
		width:150px;
		height:auto;
	}
	
	.logo {
		padding-top: 10px;
	}
	
	.head-title{
		min-height:370px;
		
		margin:0 auto;
	}
	
	.scrollDown span {
		height: 130px;
		top: -15px;
	}
}

@media all and (max-width: 400px) {
	h1{font-size:22pt;}
	
	.logotype{
		width:130px;
		height:auto;
	}
	.head-title{
		min-height:330px;
		margin:0 auto;
	}
	.scrollDown span {
		height: 130px;
		top: -15px;
	}
	
}

