

/* ========== S-offer ========== */

.s-offer{
	padding:80px 0 15px 0;
}

.banner-block{
	padding:30px 70px 0 70px;
	box-shadow: 0 0 20px #666; 
	background-color:#fff;
	width:100%;
	height:auto;
	text-align:center;
	border-radius:8px;
	min-height:400px;
}

.title-section{
	text-align:center;
	margin-bottom:35px;
}

.banner-img{
	margin-bottom:30px;
}

.icon-banner{
	border-radius: 50%; 
    border: none; 
    box-shadow: 0 0 20px #666; 
}

.banner-text{
	font-family: 'Raleway Regular', sans-serif;
	font-size:24px;
	line-height:1.35;
}


@media all and (max-width: 1200px) {
	h2 {
		font-size: 45px;
	}
	.banner-block{
		padding:30px 50px 0 50px;
		border-radius:8px;
		min-height:450px;
	}
	.icon-banner{
		width:150px;
		height:auto;
	}
}

@media all and (max-width: 1020px) {
	.container {
	  padding-left: 15px;
	  padding-right: 15px;
	}
}

@media all and (max-width: 992px) {
	.s-offer{
		padding:80px 0;
	}
	
	h2 {
		font-size: 40px;
	}
	.banner-block{
		padding:25px 40px 0 40px;
		border-radius:6px;
		min-height:390px;
	}
	.icon-banner{
		width:130px;
		height:auto;
	}
	.banner-text{
		font-size:20px;
	}
}

@media all and (max-width: 767px) {
	
	.s-offer{
		padding:100px 0 60px 0;
	}
	
	h2 {
		font-size: 36px;
	}
	.banner-block{
		padding:25px 30px 0 30px;
		border-radius:6px;
		min-height:385px;
	}
	.icon-banner{
		width:110px;
		height:auto;
	}
	.banner-text{
		font-size:18px;
	}
}

@media all and (max-width: 600px) {
	
	h2 {
		font-size: 30px;
	}
	
	.s-offer .col--50{
		width:100%;
		padding-bottom:30px;
	}
	
	.s-offer .col--50:last-child{
		padding-bottom:0;
	}
	.banner-block{
		padding:25px 30px 0 30px;
		border-radius:6px;
		min-height:260px;
	}
}


@media all and (max-width: 480px) {
	
	h2 {
		font-size: 22px;
	}
	.banner-block{
		padding:20px 20px 0 20px;
		border-radius:5px;
		min-height:295px;
	}
	.banner-text{
		font-size:16px;
	}
	.icon-banner{
		width:100px;
		height:auto;
	}
}

@media all and (max-width: 380px) {
	.s-offer{
		padding:100px 0 50px 0;
	}
	h2 {
		font-size: 18px;
	}
}




/* ========== S-why ========== */

.s-why{
	padding:36px 0 0 0;
}

.s-why .title-section{
	margin-bottom:12px;
}

.s-why .section-content{
	height:530px;
}

.parker{
	margin-left:-380px;
}

.info{
	width:50%;
	height:264px;
	position:relative;
	float:left;
	display: flex;
}

.info p{
	padding-left:105px;
	margin: auto;
}

.info p span{
	font-family: 'Minion Pro Medium Italic';
	color:#7f1720;
	font-size:18px;
	font-style:italic;
	text-transform:uppercase;
}

.info-icon{
	position:absolute;
	top:100px;
	left:10px;
	border-radius: 50%; 
    border: none; 
    box-shadow: 0 0 20px #666; 
}


@media all and (max-width: 1200px) {
	.s-why .col--30{
		width:25%;
		float:left;
	}

	.s-why .col--70{
		width:75%;
		float:left;
	}
	
	.parker{
		margin-left:-480px;
	}
}


@media all and (max-width: 992px) {
	.s-why .section-content{
		height:auto;
		padding:20px 0;
	}
	
	.s-why .col--30{
		display:none;
	}

	.s-why .col--70{
		width:100%;
	}
	
	.info{
		width:50%;
		min-height:270px;
		padding:20px;
		display: block;
		text-align:center;
	}
	
	.info-icon{
		top:20px;
		left:40%;
	}
	
	.info p{
		padding:0;
		margin: 0;
		padding-top:100px;
	}
}

@media all and (max-width: 768px) {
	
	.info{
		width:50%;
		min-height:300px;
	}
	
}

@media all and (max-width: 600px) {
	
	.s-why .title-section{
		margin-bottom:0;
		background-color:#F2F2F2;
		padding-top:20px;
	}
	
	.info{
		width:100%;
		min-height:0;
		height:auto;
		padding:20px 40px;
	}
	.info p{
		padding:0;
		margin: 0;
		padding-top:100px;
		padding-bottom:30px;
		font-size:16px;
	}
	
	.info p span{
		font-size:16px;
	}
}



/* ========== S-contacts ========== */

.s-contacts{
	padding:55px 0 0 0;
}


.contact-wrapper{
	padding-top:60px;
}

.connect{
	margin-bottom:25px;
}

.connect p{
	color:#fff;
	margin:0;
	margin-bottom:10px;
}

.connect a{
	color:#fff;
	padding-left:30px;
	transition: all .25s ease;
}

.connect a:hover{
	text-decoration:underline;
}

.connect .fa{
	font-size:24px;
	padding-right:10px;
}

.form-chat{
	padding-bottom:70px;
}

.textarea {
    line-height: 1.8;
	height: 150px;
    width: 100%;
    padding: 15px 20px;
    outline: 0 none;
    border: 0 none;
	border-radius:2px;
    resize: none;
	background-color:#BDBBBA;
	color:#fff;
}

.button-wrap{
	text-align:right;
	padding-top:18px;
}

.btn{
	background-color:#C29955;
	border:none;
	border-radius:3px;
	color:#fff;
	height:40px;
	line-height:40px;
	width:170px;
	transition: all .25s ease;
}

.btn:hover{
	background-color: #FFB338;
}


@media all and (max-width: 768px) {
	
	.s-contacts .col--50.left{
		width:40%;
	}
	.s-contacts .col--50.right{
		width:60%;
	}
	
	.connect p{
		font-size:16px;
	}
	
}

@media all and (max-width: 600px) {
	
	.s-contacts .col--50.left{
		width:100%;
		
	}
	.s-contacts .col--50.right{
		width:100%;
		margin-top:-30px;
	}
	
	.connect{
		margin-bottom:5px;
	}
	
	.connect:first-child{
		margin-top:15px;
	}
	
	.connect p{
		font-size:16px;
		float:left;
	}
	
	.contact-wrapper {
		padding-top: 20px;
	}
	.form-chat {
		padding-bottom: 30px;
	}
	
}

@media all and (max-width: 480px) {
	.button-wrap {
		text-align: center;
		padding-top: 18px;
	}
}









/* ========== Footer ========== */

.footer{
	height:100px;
	background-color:#000;
}

.footer-text{
	font-family: 'Minion Pro Regular';
	color:#fff;
	font-size:12px;
	margin-bottom:5px;
}

.footer-text:last-child{
	margin-bottom:0;
}

.development{
	line-height:100px;
}


.footer .text-wrap{
	padding-top:25px;
}

.protection, .privacy{
	text-align:left;
}

.development{
	text-align:right;
}

.development a{
	color:#fff;
	transition: all .25s ease;
}

.privacy a{
	color:#fff;
	transition: all .25s ease;
}

.development a:hover{
	text-decoration:underline;
}

.privacy a:hover{
	text-decoration:underline;
}

@media all and (max-width: 480px) {
	
	.footer{
		height:auto;
	}
	
	.footer .col--50{
		width:100%;
	}
	
	.protection, .privacy{
		text-align:center;
		font-size:10px;
		line-height:2;
	}

	.development{
		text-align:center;
		line-height:2.8;
		padding-bottom:20px;
		font-size:12px;
	}

	
}



















